@font-face {
  font-family: 'Blade-Runner-Movie-Font-2';
src:     url('https://webfonts.ffonts.net/webfonts/B/L/Blade-Runner-Movie-Font-2/Blade-Runner-Movie-Font-2.ttf.woff') format('woff'),
    url('https://webfonts.ffonts.net/webfonts/B/L/Blade-Runner-Movie-Font-2/Blade-Runner-Movie-Font-2.ttf.svg#Blade-Runner-Movie-Font-2') format('svg'),
    url('https://webfonts.ffonts.net/webfonts/B/L/Blade-Runner-Movie-Font-2/Blade-Runner-Movie-Font-2.ttf.eot'),
    url('https://webfonts.ffonts.net/webfonts/B/L/Blade-Runner-Movie-Font-2/Blade-Runner-Movie-Font-2.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


